<div class="main-wrapper">
  <mat-card class="box">
    <mat-card-header class="titulo">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginFormUser" (submit)="loginUsuario()" class="form">
      <mat-card-content>
        <mat-form-field class="inputFormName">
          <mat-label>Ingrese su ID</mat-label>
          <input matInput placeholder="ID" formControlName="ID" required type="ID" />

          <mat-error
            *ngIf="loginFormUser.get('ID')?.errors?.['ID'] && !loginFormUser.get('ID')?.errors?.['required']">
            Por favor, ingresa un <strong>ID</strong> valido
          </mat-error>
          <mat-error *ngIf="loginFormUser.get('ID')?.touched && loginFormUser.get('ID')?.errors?.['required']">
            ID es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="inputFormPass">
          <div class="input-group">
            <div class="input-icons">
              <input [type]="showPassword ? 'text' : 'password'" matInput placeholder="Password"
                formControlName="password" required name="password" />
              <mat-icon class="btnShowHide" matSuffix (click)="showHidePassword()">
                {{showPassword?'visibility_off':'visibility'}}
              </mat-icon>
            </div>

          </div>
          <mat-error *ngIf="loginFormUser.get('password')?.errors?.['required']">
            Password es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-Sign-in" type="submit">
        Ingresar
      </button>
    </form>
  </mat-card>
</div>


